// Variables
$primary-color-1: #1c1c1e;
$primary-color-2: #3a3a3c;
$secondary-color-1: #545458;
$secondary-color-2: #767680;
$tertiary-color: #ebebe5;

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
