// Variables
$primary-color-1: #1c1c1e;
$primary-color-2: #3a3a3c;
$secondary-color-1: #545458;
$secondary-color-2: #767680;
$tertiary-color: #ebebe5;

// Variables Set 2
$primary-1: #3d3d3d;
$primary-2: #525251;
$secondary-1: #e0e0e0;
$tertiary-1: #adadad;
$navbar-color: rgba(7, 7, 7, 0.131);
$bg-1: linear-gradient(to top, rgb(13, 12, 16), rgb(29, 27, 30));

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

.base_container {
  width: 100%;
  height: 7%;
  position: fixed;
  display: flex;
  background: $bg-1;
  color: $secondary-1;
  border-bottom: 1px solid rgba(253, 252, 252, 0.202);

  overflow-y: hidden;
}

#nav_logo {
  position: relative;
  top: 5%;
  left: 5%;
  height: 5ch;
  width: 3.5ch;
  transform: scale(2.4);
  z-index: 5;
}
#title {
  position: relative;
  top: 2%;
  left: 7.9%;
  font-family: "Lobster", cursive;
  z-index: 5;
}
#tab_list {
  position: relative;
  left: 30%;
}
