// Variables
$primary-color-1: #1c1c1e;
$primary-color-2: #3a3a3c;
$secondary-color-1: #545458;
$secondary-color-2: #767680;
$tertiary-color: #ebebe5;

// Variables Set 2
$primary-1: #3d3d3d;
$primary-2: #525251;
$secondary-1: #e0e0e0;
$tertiary-1: #adadad;
$navbar-color: rgba(7, 7, 7, 0.131);
$bg-1: linear-gradient(to top, rgb(13, 12, 16), rgb(29, 27, 30));

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

// Classes
.foot_container {
  position: relative;
  top: 80%;
  height: 20vh;
  color: $secondary-1;
  border-top: 1px solid rgba(253, 252, 252, 0.202);
  border-bottom: 1px solid rgba(253, 252, 252, 0.202);
  background: linear-gradient(to bottom, rgb(22, 21, 21), black);
  z-index: 1;
}

// ID's
#text_box_container {
  position: relative;
  color: $tertiary-1;
  top: 2.2ch;
  font-family: "Lobster", cursive;
}

.quote {
  font-size: x-small;
}
